.Burger{
    width: 100%;
    margin: auto;
    height: 350px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Burger{
        width: 70%;
    }
}

@media (min-width: 1030px) {
    .Burger{
        width: 50%;
    }
}
