.Modal {
    position: absolute;
    z-index: 500;
    background-color: white;
    width: 90%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 5%;
    top: 10%;
    box-sizing: border-box;
    transition: all 0.7s linear;
}

@media (min-width: 500px) {
    .Modal {
        width: 70%;
        left: 15%;
    }
}

@media (min-width: 800px) {
    .Modal { 
        position: fixed;
        width: 500px;
        left: calc(50% - 250px);
    }
}